.base{
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.half-a{
    width: 50%;
    background-color: #312E38;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo{
    width: 230,03px;
    height: 134px;
    margin-top: 122px;
    margin-bottom: 80px;
}

.title{
    width: 164px;
    height: 32px;
    font-size: 24px;
    color: #f4ede8;
    margin: 0 auto;
    margin-bottom: 24px;
}

.mini-logo{
    width: 340px;
    height: 56px;
    display: flex;
}

.mini-icon{
    display: flex;
    width: 20px;
    height: 20px;
    background-color: #232129;
    padding: 18px 16px 20px 18px;
    border-radius: 10px 0 0 10px;
}

.info-field{
    width: 340px;
    height: 56px;
    border-radius: 0 10px 10px 0;
    background-color: #232129;    
    border: none;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    color: #666360;   
}

.info-field:hover{
    color:aliceblue;
    text-transform: capitalize;
    transition-duration: 300ms;
    
}

.e-mail{
    margin-bottom: 8px;
}

.password{
    margin-bottom: 24px;
}

.send{
    background-color: #ff9000;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.enter{
    margin-bottom: 24px;
}

.forgot{
    color: #f4ede8;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
        
}

.singin{
    margin-bottom: 80px;
    
}

.create{
    display: inline;
    width: 25px;
    height: 25px;
    margin-right: 16px;
}

.mini-create{
    display: inline;
    align-items: center;
    margin-right: 16px;
    width: 25px;
    height: 25px;
}

.account{
    color: #ff9000;
    height: 20px;
    text-decoration: none;
    width: 85px;
    height: 21px;

}

/* lado direito */

.half-b{
    width: 50%;
    background-color: #2BA9EA;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.img-r{
    width: 100%;
    height: 100%;

}

/* pagina de registro  */

.who{
    display: flex;
    
}

.who-am-i{
    margin-bottom: 8px;
    flex-direction: column;
    align-items: center;
}

.rectangle{
    width: 84px;
    height: 2px;
    margin-bottom: 40px;

}

.name-email{
    margin-bottom: 8px;
}

.password-register{
    margin-bottom: 16px;
}

.register{
    margin-bottom: 80px;
}

/* DASHBORD */

.topography{
    display: flex;
    width: 100vw;
    height: 144px;
    background-color: #28262e;
}

.mini-logo-user{
    width: 137px;
    height: 80px;
    margin-top: 32px;
    margin-left: 160px;
}

.img-user{
    width: 54px;
    height: 56px;
    margin-top: 44px;
    margin-left: 80px;
    border-radius: 30px;
    margin-right: 16px;
}

.welcome{
    font-weight: 400;
    color: #999591;
    margin-top: 46px;
}

.name-user{
    font-weight: 500;
    color: #ff9000;
}

.exit{
    width: 20px;
    height: 20px;
    margin-top: 62px;
    justify-content: end;
    margin-right: 159px;

}

.behind{
    background-color: #312E38;
    width: 100%;
    height: 100vh;

}

.schedules{
    max-width: 640px;
    max-height: 998px;
    margin-left: 160px;
}

.scheduling{
      
    

}

.title-scheduled{
    width: 341px;
    height: 47px;
    font-weight: 500;
    font-size: 36px;
    margin-bottom: 12px;
}

.next-service{
    width: 240px;
    height: 26px;
    font-weight: 400px;
    font-size: 20px;
    color: #999591;
    margin-bottom: 24px;
}

.next-customer{
    display: flex;
    background-color: #3e3b47;
    width: 640px;
    height: 112px;
    border-radius: 10px;

}

.img-customer{
    margin-left: 24px;
    margin-top: 16px;
    width: 80px;
    height: 80px;
    border: 40px;
}

.name-customer{
    width: 198px;
    height: 32px;
    font-weight: 500;
    font-size: 24px;
    color: #f4ede8;
    margin-left: 24px;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
}

.watch{
    width: 24px;
    height: 24px;
    margin-left: 208px;
    margin-top: 10px;
}

.hours-big{
    display: flex;
    color: #999591;
    font-size: 20px;
    margin-top: 43px;
}

.two-watch-big{
    margin-left: 12px;
}

.two-watch{
    margin-left: 12px;
    color: #f4ede8;
}

.mini-watch{
    height: 20px;
}

.time-course{
    width: 67px;
    height: 26px;
    font-size: 20px;
    font-weight: 400;
    color: #999591;
}

.users-scheduled{
    align-items: center;
    width: 544px;
    height: 88px;
    display: flex;
    background-color: #3e3b47;
    border-radius: 10px;
    margin-bottom: 16px;
}

.user-scheduled{
    color: #f4ede8;
    font-weight: 500;
    font-size: 20px;
    margin-left: 16px;
    align-items: center;
    justify-content: center;
}

.data-scheduled{
    display: flex;
}

.mini-two-hours{
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #312E38;
    border: none;
    margin-right: 25px;
}

.registered{
    display: flex;
}